<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>Somar</title>
        <meta charset="UTF-8" />
    </h:head>
    <h:body>
    	<h2>Calculadora</h2>
    			
		<h:form>
			<br/>Digite num1: 
			<h:inputText value="#{calcManagedBean.num1}"/>
			<br/>Digite num2:
			<h:inputText value="#{calcManagedBean.num2}"/>
			<br/>Resposta: <h:outputText value = "#{calcManagedBean.resp}"/>
			<br/><h:commandButton value = "Soma" action="#{calcManagedBean.somar}"/>
		</h:form>
		
    </h:body>
</html>