<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>JSF 2.0 Hello World</title>
        <meta charset="UTF-8" />
    </h:head>
    <h:body>
    	<h2>JSF 2.0 Hello World Example - hello.xhtml</h2>
    	
		<h:outputText value="Hello JSF" />
		
		<h:form>
			Digite o seu nome
			<h:inputText value="#{testeManagedBean.nome}"/>
			<h:commandButton value = "Enviar" action="#{testeManagedBean.tratarNome}"/>
		</h:form>
		
    </h:body>
</html>