<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>Somar</title>
        <meta charset="UTF-8" />
    </h:head>
    <h:body>
    	<h2>Calculadora</h2>
    	<br/>Prato Principal:
    	<h:selectOneRadio>
    		<f:selectItem itemValue="1" itemLabel="Massa" />
    		<f:selectItem itemValue="2" itemLabel="Carne" />
    		<f:selectItem itemValue="3" itemLabel="Peixe" />
    	</h:selectOneRadio>
    	<br/>Acompanhamentos:
    	<h:selectManyCheckbox>
    		<f:selectItem itemValue="1" itemLabel="Salada"/>
    		<f:selectItem itemValue="2" itemLabel="Legumes"/>
    		<f:selectItem itemValue="3" itemLabel="Farofa"/>
    		<f:selectItem itemValue="4" itemLabel="Frita"/>
    	</h:selectManyCheckbox>
    	
    	<br/>Convênio
		<h:selectOneMenu>
			<f:selectItem itemValue="1" itemLabel="Abutua"/>
			<f:selectItem itemValue="2" itemLabel="Google"/>
			<f:selectItem itemValue="3" itemLabel="Prefeitura"/>
			<f:selectItem itemValue="4" itemLabel="Placomb"/>
		</h:selectOneMenu>
		
		<br/><br/>Observações
		<br/><h:inputTextarea cols="20" rows="10" />
    </h:body>
</html>