<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>Calculadora Web de JSF</title>
        <meta charset="UTF-8" />
    </h:head>
    <h:body>
    	<h2>Calculadora Web de JSF</h2>
    	
		<h:outputText value="Vamos Calcular?" />
		
		<h:form>
			<br/>Digite o primeiro valor:
			<h:inputText value="#{calcManagedBean.num1}"/>
			<br/>Digite o segundo valor:
			<h:inputText value="#{calcManagedBean.num2}"/>
			
			<br/><h:commandButton value="+" action="#{calcManagedBean.sumNums}"/>
			<h:commandButton value="-" action="#{calcManagedBean.subNums}"/>
			<h:commandButton value="/" action="#{calcManagedBean.divNums}"/>
			<h:commandButton value="*" action="#{calcManagedBean.multNums}"/>
		</h:form>
		<br/><h:outputText value="#{calcManagedBean.res}"/>
    </h:body>
</html>